In [15]:
import os
from zipfile import ZipFile
import pandas as pd

In [16]:
# build the index.html

files = [f for f in os.listdir('.') if 
         (os.path.isfile(f) and f[-4:]=='html')]
with open('index.html', 'w') as f:
    text = """<html>
    <h1>Welcome to my wepage</h1>
    
    <body><p>File directory</p><ul> """
    
    for file in files:
        text += "<li><a href=" + file + ">" + file + "</a></li>"
    text += "</ul> \n </body> \n </html>"
    f.write(text)

In [17]:
os.listdir('.')

['api.html',
 'tests.ipynb',
 'GlobalLandTemperaturesByCountry.csv',
 'donate.html',
 'browse.html',
 'climate-change-earth-surface-temperature-data.zip',
 'main.csv',
 'GlobalLandTemperaturesByState.csv',
 '.ipynb_checkpoints',
 'index.html',
 'main.py',
 'GlobalLandTemperaturesByMajorCity.csv',
 'GlobalLandTemperaturesByCity.csv']

In [ ]:
kaggle datasets download -d berkeleyearth/climate-change-earth-surface-temperature-data

### look at Tyler's example solution!!

In [24]:
# see what our data looks like
with open('main.csv') as f:
    df = pd.read_csv(f)
# len(df[:1000
df[-1000:].head(-10)

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
2192,1932-09-01,12.310,0.268,18.216,0.213,6.340,0.226,16.263,0.133
2193,1932-10-01,9.682,0.232,15.424,0.160,3.900,0.243,15.280,0.123
2194,1932-11-01,5.908,0.186,11.551,0.204,0.014,0.278,14.175,0.122
2195,1932-12-01,3.527,0.196,8.888,0.215,-2.071,0.271,13.558,0.123
2196,1933-01-01,2.169,0.226,7.379,0.207,-3.453,0.277,13.260,0.129
...,...,...,...,...,...,...,...,...,...
3177,2014-10-01,10.330,0.076,16.066,0.111,4.689,0.126,16.029,0.059
3178,2014-11-01,6.713,0.121,12.284,0.124,1.313,0.115,14.899,0.064
3179,2014-12-01,4.850,0.090,10.190,0.148,-0.331,0.123,14.410,0.062
3180,2015-01-01,3.881,0.130,9.432,0.090,-1.518,0.097,14.255,0.066
3181,2015-02-01,4.664,0.121,10.497,0.092,-1.138,0.113,14.564,0.067

In [83]:
counts = {}
mystr = ""

def counts_dec(fn):
    def wrapper(*args):
        for arg in args:
            if arg not in counts:
                counts[arg] = 0
            counts[arg] += 1
        return fn(*args)
    return wrapper

# def str_app(fn):
#     global mystr
#     def wrap(*args):
#         for arg in args:
#             mystr += str(arg)
#         return fn(*args)
#     return wrap

@counts_dec
def f(x=None):
    print(x)
    
f('ho')
f()
f('ho')
f('cheerio')

ho
None
ho
cheerio

In [84]:
counts

{'ho': 2, 'cheerio': 1}

In [71]:
"hula"

In [72]:
mystr

'he'

In [96]:
visit_dict = {'a': 5, 'b': 8}
sorted([(idx,visit_dict[idx]) for idx in visit_dict],key=lambda x: 5-int(x[1]))[0][0]

'b'

In [105]:
c = 1
def foo(x):
    global c
    if x > 5:
        c = 2
    x -= c
    return x
foo(4), c

(3, 1)

UnboundLocalError: local variable 'c' referenced before assignment